<% include partials/header %>

    <div class="ui main text container">
        <div class="ui huge header"><%= blog.title %></div>
        <div class="ui top attached segment">
            <div class="item">
                <img class="ui centerd rounded image" src="<%= blog.image %>" alt="blog.title">
                <div class="content">
                    <span><%= blog.created.toDateString() %></span>
                </div>
                <div class="description">
                    <p><%= blog.body %></p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui main text container field">
        <a href="/" class="ui basic"><< Back</a>
    </div>

<% include partials/footer %>